.breadcrumb {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    border-bottom-width: 1px;
    margin-top: 2rem /* 8px */;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    display: flex;
    margin-left: 9rem /* 144px */;
    margin-right: 9rem /* 144px */;
    margin-bottom: 2rem /* 8px */;
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.breaditem:hover {
    color:rgb(121 150 41);
}
.breadcrumb-active {
    color:rgb(121 150 41);
}

