@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'); 
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: 400;
}

.font-playfair-display {
    font-family: 'Playfair Display', serif;
}

.font-great-vibes {
    font-family: 'Great Vibes', cursive;
}
