.nav-input:checked ~ .mobile-nav {
    display: block;
}

#accountDropdown,
#languageDropdown {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}

#accountDropdown.open,
#languageDropdown.open {
    opacity: 1;
    transform: translateY(0);
}
