.dropdown-content {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    display: none
  }

.group:hover .dropdown-content,
.group:focus-visible .dropdown-content {
    opacity: 1;
    transform: translateY(-10px);
    display:block;
}

.mobile-nav {
    display: none ;
  }

.nav-input:checked ~ .mobile-nav {
    display: block;
  }
  